/* style */
body {
	background-color: rgb(238, 241, 223);
}

/* heading */
h1 {
	color: black;
	font-size: 45px;
	padding-top: 80px;
}

/* the game */
.the_game {
	padding-top: 10px;
}

/* 3*3 Grid */
#tile1,
#tile2,
#tile3,
#tile4,
#tile5,
#tile6,
#tile7,
#tile8,
#tile9 {
	width: 80px;
	height: 52px;
	margin: auto;
	border: 1px solid gray;
	border-radius: 6px;
	font-size: 30px;
	text-align: center;
}

/* Reset Button */
#reset_button {
	box-sizing: border-box;
	width: 95px;
	height: 40px;
	border: 1px solid rgb(9, 80, 77);
	margin: auto;
	border-radius: 4px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: rgb(9, 80, 77);
	color: white;
	font-size: 20px;
	cursor: pointer;
}

/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	color: rgb(20, 108, 103);
	font-size: 20px;
}

/* Main Container */
#main {
	text-align: center;
}