/* style */
body {
	background-color: rgb(238, 241, 223);
}

/* heading */
h1 {
	color: black;
	font-size: 45px;
	padding-top: 80px;
}

/* gametiles */
#tile1,
#tile2,
#tile3,
#tile4,
#tile5,
#tile6,
#tile7,
#tile8,
#tile9 {
	width: 80px;
	height: 80px;
	margin: auto;
	border: 1px solid gray;
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
	margin-bottom: -14px;
}

/* Buttons */
/* play again-button */
.game_button {
	box-sizing: border-box;
	width: 110px;
	height: 65px;
	border: 1px solid rgb(9, 80, 77);
	margin: auto;
	border-radius: 4px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: rgb(9, 80, 77);
	color: white;
	font-size: 20px;
	cursor: pointer;
}



/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	color: rgb(0, 0, 0);
	font-size: 20px;
	
}

/* Main Container */
#main {
	text-align: center;
}


.scoreboard {
	
	
	text-align: center;
  }

  .scoreboard > div {
	display: inline-block;
	padding: 5px 60px;
	vertical-align: middle;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	color: rgb(20, 108, 103);
	font-size: 20px;
  }